<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </fieldset>

  <fieldset>
    <%= form.label :body %>
    <%= form.text_area :body, rows: 4 %>
  </fieldset>

  <fieldset>
    <header class="flex items-center justify-between">
      <h2>Tags</h2>
      <%= link_to "Add Tags +", posts_tags_path, class: "btn", data: {turbo_stream: true} %>
    </header>

    <ul id="tags">
    </ul>
  </fieldset>

  <%= form.submit %>
<% end %>
